@use 'base/variables' as v;
@use 'base/mixins' as m;

.bloque7 {
    // background-color: purple;
    height: auto;
    position: relative;
    overflow: hidden;
    display: grid;
    justify-content: center;
    // background-color: v.$color1;
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 14%, rgba(255,12,41,1) 14%);
    margin-top: 2rem;
}

.bloque7Other {
    height: 3rem;
    background-color: white;
    width: 100%;
}

.bloque7Image {
    position: absolute;
    img {
        width: 100%;
    }
}

.bloque7Container {
    height: auto;
    overflow: hidden;
    background-color: v.$color1;
    position: relative;
    z-index: 100;
    display: grid;
    justify-items: center;
    row-gap: 1rem;
    padding-bottom: 2rem;
}

.bloque7Item {
    height: auto;
    // background-color: yellow;
    width:30rem;
    overflow: hidden;
    background-color: v.$color1;
}

.bloque7Button {
    // background-color: green;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    overflow: hidden;
    .bloque7ButtonItem1 {
        z-index: 100;
        background-color: v.$gestion;
    }
    .bloque7ButtonItem2 {
        background-color: v.$ingenieria;
    }
    .bloque7ButtonItem3 {
        background-color: v.$educacion;
    }
    .bloque7ButtonItem4 {
        background-color: v.$ciencias;
    }
    .bloque7ButtonItem5 {
        background-color: v.$salud;
    }
} 

.bloque7ButtonItem {
    // background-color: purple;
    width: 20rem;
    height: 4rem; 
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 75% 25%;
   
}

.bloque7ButtonItemText {
    display: flex;
    align-items: center;
    justify-content: center;
    h3 {
        margin: 0;
        font-weight: 500;
        font-size: 2rem;
    }
}

.bloque7ButtonItemIcon {
    // background-color: red;
    display: flex;
    align-items: center;
    img {
        width: 3rem;
    }
}

.bloque7Grid {
    // display: grid;
    // transition: display 2s ease-in;
    // grid-template-columns: 45% 5% 50%;
    padding: 0 2rem;
    // display: grid;
    // background-color: yellow;
    overflow: hidden;
    // display: none;
    height: 0;
    transition: height .5s ease;
    .bloque7GridContainer {
        display: grid !important;
        transition: all .5s ease-in;
        grid-template-columns: 45% 5% 50%;
        grid-template-rows: none;
    }
}

.bloque7GridGroupToggle {
    display: grid;
    height: 17rem;
    transition: height .5s ease;
    // height: 30rem;
}

.bloque7GridContainer1 {
    transform: translateY(-30rem);
}

.bloque7GridContainerSalud {
    transform: translateY(-50rem);
}

.bloque7GridGroupActivate {
    // transition: display 2s ease-in !important;
    transition: all .4s ease;
    transform: translateY(0) !important;
}

.bloque7GridImage {
    display: grid;
    grid-column: 1/2;
    img {
        width: 100%;
    }
}

.bloque7GridDescription {
    display: grid;
    grid-column: 3/4;
    align-items: center;
    height: auto;
}

.bloque7GridDescriptionContainer {
    // background-color: orange;
    display: flex;
    align-items: center;
    ul {
        padding: 0;
        padding-left: 2rem;
        li {
            font-size: 1.4rem;
            color: white;
        }
    }
}