doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title Conversatorios Cayetano
        link(rel="stylesheet", href="./css/app.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        script(src='https://www.google.com/recaptcha/api.js' async='' defer='')
        //- script(async).
        //-     (function(h,o,t,j,a,r){
        //-     h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        //-     h._hjSettings={hjid:3659234,hjsv:6};
        //-     a=o.getElementsByTagName('head')[0];
        //-     r=o.createElement('script');r.async=1;
        //-     r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        //-     a.appendChild(r);
        //-     })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
    body
        .bloque1#bloque1
            .bloque1Container
                .bloque1Container__left
                    .bloque1Logo
                        .bloque1_logo1 
                            img(src="img/logo_one_white.webp", alt="")
                        .bloque1_logo2 
                            img(src="img/logo_two.webp", alt="")
                    .bloque1World
                        img(src="img/the_world.webp", alt="")
                    .bloque1Admision 
                        h4 Examen de Admisión:
                        h3 14 de julio
                    //- .bloque1Image
                    //-     img(src="img/top_image.webp", alt="")
                .bloque1Container__right
                    .bloque1Container__form
                        .formContainer 
                            .formTitle
                                h3 Déjanos tus datos y
                                h4 nos contactaremos contigo
                            form.formGrid
                                .double__form
                                    input(type="text" placeholder="other")
                                    input(type="text" placeholder="other")
                                .double__form
                                    input(type="text" placeholder="other")
                                    input(type="text" placeholder="other")
                                input(type="text" placeholder="other")
                                input(type="text" placeholder="other")
                                input(type="text" placeholder="other")
                                input(type="text" placeholder="other")
                                input(type="text" placeholder="other")
                                .terminos
                                    input#privacyTool3503766000237491098(type='checkbox' autocomplete='off' name='privacyTool' onclick='disableSubmit()' required)
                                    label#labelCheckbox(for='privacyTool3503766000237491098')
                                        a(href="https://cayetano.edu.pe/politica-privacidad/" target="_blank") Política de privacidad y términos de servicio
                                .captcha
                                    #recap3503766000237491098.g-recaptcha(data-sitekey='6LdqkDoiAAAAALdLtgIzFUQelkS9jGZU4W7gjLHG' data-theme='light' data-callback='rccallback3503766000237491098' captcha-verified='false')
                                    #recapErr3503766000237491098(style='font-size:12px;color:red;visibility:hidden;') Error en validación de Captcha. Si no es un robot, inténtelo de nuevo.
                                .button_enviar
                                    button.button__change
                                        h3 QUIERO MÁS INFORMACIÓN
        .bloque2#bloque2
            .bloque2Container
                .bloque2Image1
                    img.image_movile(src="img/fondo_bloque2.webp", alt="")
                    img.image_desktop(src="img/fondo_bloque2_desktop.webp")
                .bloque2Title
                    h3 Cayetano es tu mejor opción
                    h4 Somos prestigio y excelencia para llevar tu talento al máximo nivel
                .bloque2Slider
                    .slider__container.swiper.mySwiper
                        .slider__grid.swiper-wrapper
                            .slider__item.swiper-slide
                                .sliderItemInfo
                                    .itemImage
                                        img(src="img/bloque2_image1.webp", alt="")
                                    .itemText
                                        h3 +62 años de excelencia 
                                        h4 Cayetano es calidad educativa
                            .slider__item.swiper-slide
                                .sliderItemInfo
                                    .itemImage
                                        img(src="img/bloque2_image2.webp", alt="")
                                    .itemText
                                        h3 +200 convenios internacionales
                                        h4 Cayetano es experiencias internacionales
                            .slider__item.swiper-slide
                                .sliderItemInfo
                                    .itemImage
                                        img(src="img/bloque2_image3.webp", alt="")
                                    .itemText
                                        h3 +Investigación y patentes
                                        h4 Cayetano es soluciones innovadoras
                            .slider__item.swiper-slide
                                .sliderItemInfo
                                    .itemImage
                                        img(src="img/bloque2_image4.webp", alt="")
                                    .itemText
                                        h3 +Docentes e investigaciones TOP
                                        h4 Cayetano son expertos de renombre
                            .slider__item.swiper-slide
                                .sliderItemInfo
                                    .itemImage
                                        img(src="img/bloque2_image5.webp", alt="")
                                    .itemText
                                        h3 +15 talleres extracurriculares
                                        h4 Cayetano es arte y deporte
                    .swiper-pagination
                    .swiper-button-next
                    .swiper-button-prev
        .bloque4
            .bloque4Container
                .bloque4__title
                    h3 Cayetano es más que Cayetano
                    h4 Somos gestión, ingeniería
                        br
                        | ciencias, educación y salud.
                .bloque4__image
                    img.back_movile_video(src="img/video_image.webp", alt="")
                .bloque4Desktop__image1
                    img.back_desktop_video1(src="img/bloque4back1.webp", alt="")
                .bloque4Desktop__image2
                    img.back_desktop_video2(src="img/bloque4back2.webp", alt="")
                .bloque4__video
                    .video__container
                        img.video_movile(src="img/video_back.webp", alt="")
        .bloque3
            .bloque3Container
                .bloque3Title
                    h3 Somos la universidad #1 del Perú
                    h4 Cayetano es excelencia académica a nivel global
                .bloque3Slider
                    .slider__container2.swiper.mySwiper2
                        .slider__grid2.swiper-wrapper
                            .slider__item2.swiper-slide
                                .sliderItemInfo2
                                    .itemRankingImage
                                        img(src="img/somos_image1.webp", alt="")
                                    .itemRankingSteps
                                        .itemRankingGridImage
                                            img(src="img/number_one.webp", alt="")
                                        .itemRankingGridText
                                            h3 Ranking mejores universidades (2024)
                            .slider__item2.swiper-slide
                                .sliderItemInfo2
                                    .itemRankingImage
                                        img(src="img/somos_image2.webp", alt="")
                                    .itemRankingSteps
                                        .itemRankingGridImage
                                            img(src="img/number_one.webp", alt="")
                                        .itemRankingGridText
                                            h3 Ranking mejores universidades a nivel mundial (2024)
                            .slider__item2.swiper-slide
                                .sliderItemInfo2
                                    .itemRankingImage
                                        img.usnews(src="img/somos_image3.webp", alt="")
                                    .itemRankingSteps
                                        .itemRankingGridImage
                                            img(src="img/number_one.webp")
                                        .itemRankingGridText
                                            h3 Ranking mejores universidades del mundo (2022-2023)
                            .slider__item2.swiper-slide
                                .sliderItemInfo2
                                    .itemRankingImage
                                        img.scimago(src="img/somos_image4.webp", alt="")
                                    .itemRankingSteps
                                        .itemRankingGridImage
                                            img(src="img/number_two.webp")
                                        .itemRankingGridText
                                            h3 Ranking mejores universidades (2024)
                            .slider__item2.swiper-slide
                                .sliderItemInfo2
                                    .itemRankingImage
                                        img.qswur(src="img/somos_image5.webp", alt="")
                                    .itemRankingSteps
                                        .itemRankingGridImage
                                            img(src="img/number_three.webp")
                                        .itemRankingGridText
                                            h3 Ranking mejores universidades (2025)
                            .slider__item2.swiper-slide
                                .sliderItemInfo2
                                    .itemRankingImage
                                        img.wurlatin(src="img/somos_image6.webp", alt="")
                                    .itemRankingSteps
                                        .itemRankingGridImage
                                            img(src="img/number_one.webp")
                                        .itemRankingGridText
                                            h3 Ranking mejores de Latinoamérica (2023)
                            .slider__item2.swiper-slide
                                .sliderItemInfo2
                                    .itemRankingImage
                                        img(src="img/somos_image7.webp", alt="")
                                    .itemRankingSteps
                                        .itemRankingGridImage
                                            img(src="img/number_one.webp")
                                        .itemRankingGridText
                                            h3 Último Ranking de Excelencia
                                    .itemRankingSteps
                                        .itemRankingGridImage
                                            img(src="img/number_one.webp")
                                        .itemRankingGridText
                                            h3 Ranking Histórico de instituciones Universitarias
                    .swiper-button-next2 
                        img(src="img/arrow_right.webp", alt="")
                    .swiper-button-prev2
                        img(src="img/arrow_left.webp", alt="")
                    .swiper-pagination2
        .bloque5
            .bloque5ImageDesktop1
                img(src="img/testimonioDesktopImage1.webp", alt="")
            .bloque5ImageDesktop2
                img(src="img/testimonioDesktopImage2.webp", alt="")
            .bloque5Image
                img(src="img/testimonio_back_movile.webp", alt="")
            .bloque5Other
            .bloque5Container
                .bloque5Title
                    h3 Los mejores estudian con nosotros 
                    h4 Cayetano es estudiantes y egresados llevando su talento al máximo
                .bloque5Slider
                    .slider__container3.swiper.mySwiper3
                        .slider__grid3.swiper-wrapper
                            .slider__item3.swiper-slide
                                .sliderItemInfo3
                                    .testimonioImage
                                        img(src="img/testimonio_image1.webp", alt="")
                                    .testimonioName
                                        .testimonioNameImage
                                            img(src="img/testimonio_comillas.webp", alt="")
                                        h3 Ana Lucía Cárdenas
                                        h4 Egresada de Psicología
                                    .testimonioSeparator
                                    .testimonioDescription
                                        h3 Cayetano me permitió realizar una pasantía en Uruguay y me inspiró a convertirme en investigadora.
                            .slider__item3.swiper-slide
                                .sliderItemInfo3
                                    .testimonioImage
                                        img(src="img/testimonio_image2.webp", alt="")
                                    .testimonioName
                                        .testimonioNameImage
                                            img(src="img/testimonio_comillas.webp", alt="")
                                        h3 María Belén Balta
                                        h4 Egresada de Ingeniería Ambiental
                                    .testimonioSeparator
                                    .testimonioDescription
                                        h3 El enfoque científico de Cayetano me ofrece una malla curricular clave para resolver problema medioambientales complejos.
                            .slider__item3.swiper-slide
                                .sliderItemInfo3
                                    .testimonioImage
                                        img(src="img/testimonio_image3.webp", alt="")
                                    .testimonioName
                                        .testimonioNameImage
                                            img(src="img/testimonio_comillas.webp", alt="")
                                        h3 Gustavo Letona
                                        h4 Egresado de Estomatología
                                    .testimonioSeparator
                                    .testimonioDescription
                                        h3 Gracias a la información en Cayetano, obtuve un doble grado en Portugal y trabajé en Europa.
                    .swiper-button-next3
                        img(src="img/arrow_right.webp", alt="")
                    .swiper-button-prev3
                        img(src="img/arrow_left.webp", alt="")
                    .swiper-pagination3
            .bloque5Other   
        .bloque6
            .bloque6Container
                .bloque6Title
                    h3 Cayetano es
                        br
                        span infraestructura de primer nivel
                    h4 Espacios de excelencia, intercambio y vida universitaria
                .bloque6Slider
                    .slider__container4.swiper.mySwiper4
                        .slider__grid4.swiper-wrapper
                            .slider__item4.swiper-slide
                                .sliderItemInfo4
                                    .bloque6Image
                                        img(src="img/bloque6_san_martin.webp", alt="")
                                    .bloque6Description
                                        h3 Campus Central
                                        h4 Av. Honorio Delgado 430, Urb. Ingeniería, San Martín de Porres
                            .slider__item4.swiper-slide
                                .sliderItemInfo4
                                    .bloque6Image
                                        img.molina(src="img/bloque6_molina.webp", alt="")
                                    .bloque6Description
                                        h3 Campus La Molina
                                        h4 Calle José Antonio Encinas 310, La Molina
                            .slider__item4.swiper-slide
                                .sliderItemInfo4
                                    .bloque6Image
                                        img.miraflores(src="img/bloque6_miraflores.webp", alt="")
                                    .bloque6Description
                                        h3 Sede Miraflores
                                        h4 Av. Armendáriz 947, Miraflores
                            .slider__item4.swiper-slide
                                .sliderItemInfo4
                                    .bloque6Image
                                        img.san_isidro(src="img/bloque6_san_isidro.webp", alt="")
                                    .bloque6Description
                                        h3 Sede San Isidro
                                        h4 Av. Salaverry - 2475, San Isidro
                    .swiper-button-next4 
                        img(src="img/arrow_right.webp", alt="")
                    .swiper-button-prev4
                        img(src="img/arrow_left.webp", alt="")
                    .swiper-pagination4
        .bloque7
            .bloque7Image
                img(src="img/bloque6_back.webp", alt="")
            .bloque7Other
            .bloque7Container
                .bloque7Container__left
                    .bloque7Item
                        .bloque7Button
                            .bloque7ButtonItem.bloque7ButtonItem1
                                .bloque7ButtonItemText
                                    h3 Gestión
                                .bloque7ButtonItemIcon
                                    img(src="img/arrow_bottom.webp", alt="")
                        .bloque7Grid.bloque7GridGroup1
                            .bloque7GridContainer.bloque7GridContainer1
                                .bloque7GridImage
                                    img(src="img/bloque6_gestion.webp", alt="")
                                .bloque7GridDescription
                                    .bloque7GridDescriptionContainer
                                        ul 
                                            li Administración (nuevo)
                    .bloque7Item
                        .bloque7Button
                            .bloque7ButtonItem.bloque7ButtonItem2
                                .bloque7ButtonItemText
                                    h3 Ingeniería
                                .bloque7ButtonItemIcon
                                    img(src="img/arrow_bottom.webp", alt="")
                        .bloque7Grid.bloque7GridGroup2
                            .bloque7GridContainer.bloque7GridContainer2
                                .bloque7GridImage
                                    img(src="img/bloque6_ingenierias.webp", alt="")
                                .bloque7GridDescription
                                    .bloque7GridDescriptionContainer
                                        ul 
                                            li Ing. Industrial (nuevo)
                                            li Ing. Ambiental 
                                            li Ing. Informática 
                                            li Ing. Biomédica* 
                    .bloque7Item
                        .bloque7Button
                            .bloque7ButtonItem.bloque7ButtonItem3
                                .bloque7ButtonItemText
                                    h3 Educación
                                .bloque7ButtonItemIcon
                                    img(src="img/arrow_bottom.webp", alt="")
                        .bloque7Grid.bloque7GridGroup3
                            .bloque7GridContainer.bloque7GridContainer3
                                .bloque7GridImage
                                    img(src="img/bloque6_educacion.webp", alt="")
                                .bloque7GridDescription
                                    .bloque7GridDescriptionContainer
                                        ul 
                                            li Educación (nuevo)
                .bloque7Container__right
                    .bloque7Item
                        .bloque7Button
                            .bloque7ButtonItem.bloque7ButtonItem4
                                .bloque7ButtonItemText
                                    h3 Ciencias
                                .bloque7ButtonItemIcon
                                    img(src="img/arrow_bottom.webp", alt="")
                        .bloque7Grid.bloque7GridGroup4
                            .bloque7GridContainer.bloque7GridContainer4
                                .bloque7GridImage
                                    img(src="img/bloque6_ciencias.webp", alt="")
                                .bloque7GridDescription
                                    .bloque7GridDescriptionContainer
                                        ul 
                                            li Biología
                                            li Nutrición
                                            li Farmacia y Bioquímica
                    .bloque7Item
                        .bloque7Button
                            .bloque7ButtonItem.bloque7ButtonItem5
                                .bloque7ButtonItemText
                                    h3 Salud
                                .bloque7ButtonItemIcon
                                    img(src="img/arrow_bottom.webp", alt="")
                        .bloque7Grid.bloque7GridGroup5
                            .bloque7GridContainer.bloque7GridContainerSalud
                                .bloque7GridImage
                                    img(src="img/bloque6_salud.webp", alt="")
                                .bloque7GridDescription
                                    .bloque7GridDescriptionContainer
                                        ul 
                                            li Medicina
                                            li Enfermería
                                            li Estomatología
                                            li Psicología
                                            li Medicina Veterinaria y Zootecnia
                                            li Terapia Física y Rehabilitación
                                            li Radiología
                                            li Laboratorio Clínico y Anatomía Patológica
                    .bloque7ItemOther
                        .bloque7Button
                            .bloque7ButtonItem.bloque7ButtonItem5
                                .bloque7ButtonItemText
                                    h3 Salud
                                .bloque7ButtonItemIcon
                                    img(src="img/arrow_bottom.webp", alt="")
                        .bloque7Grid.bloque7GridGroup5
                            .bloque7GridContainer.bloque7GridContainerSalud
                                .bloque7GridImage
                                    img(src="img/bloque6_salud.webp", alt="")
                                .bloque7GridDescription
                                    .bloque7GridDescriptionContainer
                                        ul 
                                            li Medicina
                                            li Enfermería
                                            li Estomatología
                                            li Psicología
                                            li Medicina Veterinaria y Zootecnia
                                            li Terapia Física y Rehabilitación
                                            li Radiología
                                            li Laboratorio Clínico y Anatomía Patológica
        footer
            .footerContainer
                .footerImage
                    img(src="img/logo_bottom.webp", alt="")
                .footerDirection
                    h3 Campus Central
                        br
                        | Av. Honorio Delgado 430
                        br 
                        | Urb. Ingeniería, San Martin de Porres
        script(src="./js/script.js" async)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")